<div class="nav">

<ul>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Account</a>
    <div class="dropdown-content">
    <%= link_to "Profile", user_path(@user) %>
     <%= link_to "Logout", destroy_user_session_path, :method =>'DELETE' %>
          </div>
  </li>
</ul>
</div>
<%#= link_to "edit", edit_user_registration_path %>
<div>
  <h3>Admin Home </h3>
</div>
