<table>
        <tr>
          <th>User Name</th>
          <th>Email</th>
          <% if current_user.admin? %>
          <th>Actions</th>
          <% end %>
        </tr>


<% @members.each do |user| %>
<% if user.id != current_user.id %>
  <tr>
    <td><%= user.firstname %><%= user.lastname %></td>
    <td><%= user.email %></td>
    <% if current_user.admin? %>
    <td><%= link_to " Delete", remove_user_company_path(user_id: user.id, id: @company.id),
                                  data: { confirm: "You sure?" } , remote: true%></td>
     <% end %>
  </tr>
  <% end %>
<% end %>

 </table>
